body{
    background-color: rgb(77, 245, 77);
    
}
article{
   
    margin-left: 782px;
 
    margin-top: 60px;
}

h1{
    text-align: center;
    color: red;
   
}
header{
    height:300px;
}

.datebox{
    background-color: red;
    height: 320px;
    width: 390px;
    display: inline-block ;
    color: white;
    font-size:xx-large ;
    margin-top: 10px;
    margin-right: 10px;
    
}

#img1{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img2{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img3{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img4{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img5{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img6{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img7{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img8{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img9{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img10{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img11{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img12{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img13{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img14{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img15{
    width: 280px;
    height: 300px;
    visibility: hidden;

}#img16{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img17{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img18{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img19{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img20{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img21{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img22{
    width: 280px;
    height: 300px;
    visibility: hidden;

}

#img23{
    width: 280px;
    height: 300px;
    visibility: hidden;

}
#img24{
    width: 280px;
    height: 300px;
    visibility: hidden;

}